<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">

    <xacro:include filename="$(find sensors)/gps/xacro/gps_gazebo.xacro"/>

    <xacro:macro name="GPS" params="name:=gps topic_name:=/gps/fix rate:=5.0 ref_latitude ref_longitude ref_altitude ref_heading">

        <material name="${name}_white">
            <color rgba="1.0 1.0 1.0 1"/>
        </material>

        <link name="${name}_link">
            <visual>
                <origin xyz="0 0 0" rpy ="0 0 0"/>
                <geometry>
                    <box size="0.1 0.1 0.03"/>
                </geometry>
                <material name="${name}_white"/>
            </visual>
        </link>

        <link name="${name}_frame"/>
        <joint name="${name}_base_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${name}_link" />
            <child link="${name}_frame" />
        </joint>

        <!-- GPS Gazebo Plugin -->
        <xacro:gazebo_gps name="${name}" reference_link="${name}_link" topic_name="${topic_name}" frame_name="${name}_frame" rate="${rate}" ref_latitude="${ref_latitude}" ref_longitude="${ref_longitude}" ref_altitude="${ref_altitude}" ref_heading="${ref_heading}"/>
    </xacro:macro>


</robot>