<launch>

    <node pkg="gmapping" type="slam_gmapping" name='gmapping_node' output='log'>
        <param name="base_frame" value="base_footprint"/>
        <param name="odom_frame" value="odom"/>
        <param name="delta" value="0.05"/>
        <param name="xmin" value="-5"/>
        <param name="ymin" value="-5"/>
        <param name="xmax" value="5"/>
        <param name="ymax" value="5"/>
        <!-- <param name="maxUrange" value="20"/> -->
        <param name="maxUrange" value="5.5"/>
        <param name="map_update_interval" value="1"/>
        <param name="linearUpdate" value="0.1"/>
        <param name="angularUpdate" value="0.1"/>
        <param name="temporalUpdate" value="0.2"/>
        <param name="particles" value="100"/>
        <param name="maxRange" value="5.5"/>

        <!-- <remap from="/scan" to="/base_scan"/> -->
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot_navigation)/rviz/gmapping.rviz"/>


</launch>

<!-- <launch>

    <node pkg="gmapping" type="slam_gmapping" name='gmapping_node' output='log'>
        <param name="base_frame" value="base_footprint"/>
        <param name="odom_frame" value="odom"/>
        <param name="delta" value="0.1"/>
        <param name="xmin" value="-10"/>
        <param name="ymin" value="-10"/>
        <param name="xmax" value="10"/>
        <param name="ymax" value="10"/>
        <!-- <param name="maxUrange" value="20"/> -->
        <param name="map_update_interval" value="1"/>
        <param name="linearUpdate" value="0.1"/>
        <param name="angularUpdate" value="0.1"/>
        <param name="temporalUpdate" value="0.2"/>
        <param name="particles" value="100"/>
        <param name="maxRange" value="10"/>
        <param name="maxUrange" value="10"/>


        <!-- <remap from="/scan" to="/base_scan"/> -->
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot_navigation)/rviz/gmapping.rviz"/>


</launch> -->