<launch>

    <node name="tf_cam_c_l" pkg="tf2_ros" type="static_transform_publisher" 
         args="-0.042 0.037 0.061 -0.176 -0.011 0.551 0.815 ob_camera_c_link ob_camera_l_link"/> 

    <node name="tf_cam_c_r" pkg="tf2_ros" type="static_transform_publisher" 
         args="-0.039 -0.036 0.052 0.195 0.027 -0.626 0.755 ob_camera_c_link ob_camera_r_link"/>  

    <node name="tf_bridge_cam_c" pkg="tf2_ros" type="static_transform_publisher" 
          args="-0.533 0.025 0.929 -0.082 0.270 0.021 bridge ob_camera_c_link"/>

    <node name="tf_rs_bridge" pkg="tf2_ros" type="static_transform_publisher" 
          args="-0.171 0.182 -0.204 -3.058 3.122 1.568 camera_right_link bridge"/>

</launch>
