<launch>
    <!-- <include file="$(find orbbec_camera)/launch/gemini2.launch"/> -->
    <!-- <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"/> -->

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot_navigation)/rviz/rtabmap.rviz"/> -->
    
    <!-- <node name="tf_bridge_cam_c" pkg="tf2_ros" type="static_transform_publisher" 
          args="-0.533 0.025 0.929 -0.082 0.270 0.021 bridge camera_link"/> -->

    <!-- <node name="tf_rs_bridge" pkg="tf2_ros" type="static_transform_publisher" 
          args="-0.171 0.182 -0.204 -3.058 3.122 1.568 camera_right_link bridge"/> -->

    <!-- <node name="footprint_to_camera_link" pkg="tf2_ros" type="static_transform_publisher" 
          args="-0.574 -0.013 1.644 -0.018 0.184 -0.070 footprint camera_link"/> -->

    <!-- <node name="footprint_to_camera_link" pkg="tf2_ros" type="static_transform_publisher" 
          args="-0.574 -0.013 1.644 0 0.23 0 base_footprint camera_link"/> -->



    <arg name="camera_name" value ="camera"/>

    <!-- Set parameters for RTABMAP -->
    <arg name="depth_topic" default="/$(arg camera_name)/depth/image_raw" />
    <arg name="rgb_topic" default="/$(arg camera_name)/color/image_raw" />
    <arg name="camera_info_topic" default="/$(arg camera_name)/color/camera_info" />
    <arg name="approx_sync" default="true" />
    <arg name="rviz" default="true" />
    <arg name="rtabmap_viz" default="false" />
    <arg name="visual_odometry" default="false" />
    <arg name="odom_topic" default="/odometry/filtered" />
    <arg name="rviz_cfg" default="$(find my_robot_navigation)/rviz/rtabmap.rviz" />
    <arg name="rtabmap_args" default="--delete_db_on_start"/>

    <!-- Include rtabmap.launch with specified parameters -->
    <include file="$(find rtabmap_launch)/launch/rtabmap.launch">
        <arg name="depth_topic" value="$(arg depth_topic)" />
        <arg name="rgb_topic" value="$(arg rgb_topic)" />
        <arg name="camera_info_topic" value="$(arg camera_info_topic)" />
        <arg name="approx_sync" value="$(arg approx_sync)" />
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="rtabmap_viz" value="$(arg rtabmap_viz)" />
        <arg name="visual_odometry" value="$(arg visual_odometry)" />
        <arg name="odom_topic" value="$(arg odom_topic)" />
        <arg name="rviz_cfg"  value="$(arg rviz_cfg)" />
        <arg name="rtabmap_args"  value="$(arg rtabmap_args)" />
        <arg name="approx_sync_max_interval"  value="0.01" />
        <arg name="frame_id"  value="base_footprint" />
        <arg name="queue_size"  value="1000" />
        <!-- <arg name="odom_frame_id"  value="rtabmap_odom" /> -->




    </include>
</launch>
