<launch>

    <arg name="camera_name" value ="ob_camera_c"/>

    <group ns="rtabmap">

    <include file="$(find orbbec_camera)/launch/gemini2.launch">
        <arg name="camera_name" value = "$(arg camera_name)"/>
    </include>
    <!-- </group> -->


    <!--create aligned_depth_to_color/image_raw using depth_image_proc-->
    <!-- <group ns="$(arg camera_name)"> -->
        <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

        <node pkg="nodelet" type="nodelet" name="nodelet1"
                args="load depth_image_proc/register nodelet_manager">
            <remap from="rgb/camera_info" to="color/camera_info"/>
            <remap from="depth/camera_info" to="depth/camera_info"/>
            <remap from="depth/image_rect" to="depth/image_raw"/>
            <remap from="depth_registered/camera_info" to="aligned_depth_to_color/camera_info"/>    
            <remap from="depth_registered/image_rect" to="aligned_depth_to_color/image_raw"/>
        </node>

        <node pkg="nodelet" type="nodelet" name="nodelet2"
                args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager">
            <remap from="rgb/image_rect_color" to="color/image_raw"/>
            <remap from="rgb/camera_info" to="color/camera_info"/>
            <remap from="depth_registered/camera_info" to="aligned_depth_to_color/camera_info"/>
            <remap from="depth_registered/image_rect" to="aligned_depth_to_color/image_raw"/>
            <remap from="depth_registered/points" to="depth/color/points"/>
        </node>
    </group>

    <!-- Set parameters for RTABMAP -->
    <arg name="depth_topic" default="$(arg camera_name)/aligned_depth_to_color/image_raw" />
    <arg name="rgb_topic" default="$(arg camera_name)/color/image_raw" />
    <arg name="camera_info_topic" default="$(arg camera_name)/color/camera_info" />
    <arg name="approx_sync" default="true" />
    <arg name="rviz" default="true" />
    <arg name="rtabmap_viz" default="false" />
    <arg name="visual_odometry" default="false" />
    <arg name="odom_topic" default="/odom" />
    <arg name="rviz_cfg" default="$(find my_robot_navigation)/rviz/rtabmap.rviz" />
    <arg name="rtabmap_args" default="--delete_db_on_start"/>

    <!-- Include rtabmap.launch with specified parameters -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="depth_topic" value="$(arg depth_topic)" />
        <arg name="rgb_topic" value="$(arg rgb_topic)" />
        <arg name="camera_info_topic" value="$(arg camera_info_topic)" />
        <arg name="approx_sync" value="$(arg approx_sync)" />
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="rtabmap_viz" value="$(arg rtabmap_viz)" />
        <arg name="visual_odometry" value="$(arg visual_odometry)" />
        <arg name="odom_topic" value="$(arg odom_topic)" />
        <arg name="rviz_cfg"  value="$(arg rviz_cfg)" />
        <arg name="rtabmap_args"  value="$(arg rtabmap_args)" />
    </include>

</launch>
